<Body>
<div style="text-align: center;">

  <h2>Update friend</h2>
</div >
<form [formGroup]="friendFormGroup" (ngSubmit)="updateFriend()">
  <div  style="text-align: center;">

    <button class="btn btn-primary" type="submit">Update friend</button>
    <br />
    <br />
    <label>
      <input class="form-control" placeholder="Name" style="background: whitesmoke" type="text" formControlName="name" >
    </label>
    <br />
    <label>
      <input class="form-control" placeholder="Address" style="background: whitesmoke" type="text" formControlName="address">
    </label>
    <br />
    <label>
      <input class="form-control" placeholder="Mail" style="background: whitesmoke" type="text" formControlName="mail">
    </label>
    <br />
    <label>
      <input class="form-control" placeholder="Phone" style="background: whitesmoke" type="text" formControlName="phone">
    </label>
    <br />
  </div>
</form>

<div style="text-align: center;">
  <label>
  <input class="form-control" style="background: whitesmoke" placeholder="Latitude" type="number" [(ngModel)]="latitude">
  </label>
  <br>
  <label>
  <input class="form-control" style="background: whitesmoke" placeholder="Longitude" type="number" [(ngModel)]="longitude">
  </label>
  <br />
  <br />
  <input  style="background: whitesmoke" type="file" (change)="imageChange($event)" accept="image/*">
  <br />
</div>
</Body>

