<button type="button" class="btn btn-info" routerLink="add">+</button>
<ul fa>
  <h1>Friends:</h1>
  <li class="text" *ngFor="let friend of Friends | async">
    <img [src]="friend.url" *ngIf="friend.url" style="width: 48px; height: 48px">
    {{friend.name}}
    <div style="float: right">
      <button routerLink="update/{{friend.id}}" class="btn btn-warning">Update</button>
    <button type="button" class="btn btn-delete" (click)="deleteFriend(friend)">Delete</button>
    </div>
  </li>
</ul>

