<div style="text-align: center;">
      <body>
      <div style="align-content: center">
      <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
       <button type="button" class="btn btn-primary" routerLink="/maps">Show your friends on the map</button>
      <button type="button" class="btn btn-primary" routerLink="/friends">Friend Administration</button>
      </div>
      </body>
</div>

<router-outlet></router-outlet>
<app-create></app-create>
<app-read></app-read>
