<Body>
<div style="text-align: center;">

<h2>Add new friend</h2>
</div >
<form [formGroup]="friendFormGroup" (ngSubmit)="addFriend()">
  <div  style="text-align: center;">
  <label>
    <p>Name</p>
    <input style="background: darkgray" type="text" formControlName="name">
   </label>
    <br />

  <label>
    <p>Address</p>
    <input style="background: darkgray" type="text" formControlName="address">
  </label>
    <br />

  <label>
    <p>Mail</p>
    <input style="background: darkgray" type="text" formControlName="mail">
  </label>
    <br />

    <label>
      <p>Phone</p>
      <input style="background: darkgray" type="text" formControlName="phone">
    </label>
    <br />

    <p>Location:</p>
    <div formGroupName="location">
      <label>
        <p>Latitude</p>
        <input style="background: darkgray" type="number" formControlName="latitude">
      </label>
      <br/>
      <label>
        <p>Longitude</p>
        <input style="background: darkgray" type="number" formControlName="longitude">
      </label>
      <br/>
    </div>
    <br />
  <input style="background: darkgray" type="file" (change)="imageChange($event)" accept="image/*">
    <br />

    <br />
  <button type="submit">Add</button>
  </div>
</form>
</Body>

