<h1>
  {{title}}
</h1>

<button (click)="showFriendsOnMap()">Test</button>

<h1>Map:</h1>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="onChoseLocation($event)"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  >

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
  >
    <agm-info-window>
      <h3><strong>Her skal afstanden vises</strong></h3>
    </agm-info-window>

  </agm-marker>


</agm-map>
