<body>
<div style="text-align: center;">
<agm-map [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="onChoseLocation($event)"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [minZoom]="minZoom"
  [maxZoom]="maxZoom"
  >

  <agm-marker [agmFitBounds]="true"
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
  >
  </agm-marker>

</agm-map>
</div>
</body>
