<body>
<div style="text-align: center;">
<agm-map (mapReady)="mapReady($event)" [fitBounds]="true"
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="onChoseLocation($event)"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [minZoom]="minZoom"
  [maxZoom]="maxZoom"
  >

  <agm-marker [agmFitBounds]="true"
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    (markerClick)="markerClicked(m.lat, m.lng)"
    [iconUrl]="icon" >

  </agm-marker>
</agm-map>
</div>
</body>
